/* sidebar.css */

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--primary);
    padding: 15px;
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: width var(--transition-speed) ease;
    border-right: 1px solid #ddd;
    z-index: 999;
    font-family: var(--font-family);
    /* Añade esto para forzar el color del texto */
    color: #fff !important; /* Color blanco por defecto */
}
.sidebar * {
    color: inherit !important;
}
.sidebar.collapsed {
    width: var(--sidebar-collapsed-width);
}
.sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.sidebar .sidebar-header h3 {
    color: var(--text-color );
    margin: 0;
    font-size: 1.5em; /* Ajustar tamaño de letra del header aquí */
    transition: opacity var(--transition-speed) ease;
}
.sidebar.collapsed .sidebar-header h3 {
    opacity: 0;
}
.sidebar .toggle-btn {
    color: inherit !important;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background var(--transition-speed) ease;
    font-size: 1.8rem;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--primary-dark);
    color: inherit !important;
}
.sidebar ul li a i {
    margin-right: 10px;
    font-size: 1.2em;
}
/* Collapsed: center content and show icons */
.sidebar.collapsed ul li a {
    justify-content: center;
}
.sidebar.collapsed ul li a span {
    display: none;
}
